// Post bottom navigation wrapper
.navigation {
  padding: 1.37rem 0 1rem 0;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Bottom navigation link
.navigationLink {
  margin-top: 1rem;

  & + & {
    margin-left: 1rem;
  }
}

// Link to previous post
.navigationLinkPrev {
  composes: navigationLink;
  float: left;
}

// Link to next post
.navigationLinkNext {
  composes: navigationLink;
  float: right;
}
