.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.37rem 0 1rem 0;

  > *:first-child {
    margin-right: 1rem;
  }
}

.navigationLink {
  margin-top: 1rem;
}
