@import '../../styles/variables.scss';

// Header wrapper
.header {
  overflow: auto;
}

// Header inline emphasized tld
h1 > small {
  transition: color 0.2s;
}

// Centered container
.container {
  // Extends Body container
  composes: container from '../Body/Body.module.scss';
  position: relative;
  overflow: auto; // Contain child margin

  // Line decoration
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 80px;
    height: 1px;
    background-color: $line-gray;
  }
}

// Social networks links
.social {
  font-size: 80%;

  * + * {
    margin-left: 5px;
  }
}
