@import '../../styles/variables.scss';

.footer {
  border-top: 1px solid $line-gray;
}

.container {
  composes: container from '../Body/Body.module.scss';
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
  font-size: 80%;
}
